.push-down
{
	margin-top: 130px;
}

.navbar-inverse
{
	background-color: black;
}

.maverick-heading
{
	color: white;
	padding: 0px 0px 0px 10px;
	font-size: 30px;
}

.breadcrumb
{
	margin-bottom: 10px;
}

.disabled
{
	color:gray
}

