<div class="updates index">
	<h2><?php echo __('Updates'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('incident_id'); ?></th>
			<th><?php echo $this->Paginator->sort('description'); ?></th>
			<th><?php echo $this->Paginator->sort('date_updated'); ?></th>
			<th><?php echo $this->Paginator->sort('change_description'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($updates as $update): ?>
	<tr>
		<td><?php echo h($update['Update']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($update['Incident']['title'], array('controller' => 'incidents', 'action' => 'view', $update['Incident']['id'])); ?>
		</td>
		<td><?php echo h($update['Update']['description']); ?>&nbsp;</td>
		<td><?php echo h($update['Update']['date_updated']); ?>&nbsp;</td>
		<td><?php echo h($update['Update']['change_description']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $update['Update']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $update['Update']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $update['Update']['id']), array(), __('Are you sure you want to delete # %s?', $update['Update']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Update'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Incidents'), array('controller' => 'incidents', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Incident'), array('controller' => 'incidents', 'action' => 'add')); ?> </li>
	</ul>
</div>
