<?php
	echo $this->Html->addCrumb(" Device Specific", "/Devices/execute_ota_firmware_upgrade");
	echo $this->Html->addCrumb(' Execute OTA Firmware Upgrade');
?>

      <!-- Example row of columns -->
       
    <div class="col-lg-3">
		<div class="well">
			<ul class="nav nav-pills nav-stacked">
				<li class="active"><a href="/devices/execute_ota_firmware_upgrade">Execute OTA Firmware Upgrade</a></li>
				<li><a href="/devices/monitor_ota_firmware_upgrade">Monitor OTA Firmware Upgrade</a></li>
  			</ul>
        </div>
	</div>	
		<script LANGUAGE="JavaScript" type="text/javascript">
			function display() {
				var imsi=document.getElementById("exampleInputEmail1").value;		
			
			alert("The firmware of this IMSI number :  " + " " +  imsi + " has been updated " );
		}
		</script>
		
    <div class="col-lg-9">
	  <div class="panel panel-default">
		<div class="panel-body">
          <h3>Execute OTA Firmware Upgrade</h3>
                 <form role="form">
				  <div class="form-group">
				    <label for="exampleInputEmail1">IMSI Number</label>
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter IMSI">
				  </div>
				  
				  <a class="btn btn-success"  onClick="display()">Update IMSI firmware</a>
          </form>
		</div>  
      </div>  
    </div>
      
    