<?php
echo $this->Html->addCrumb(' Devices List ', '/devices/index');
echo $this->Html->addCrumb(" Device: " . $device['Device']['name']);
?>

<div class="col-md-3">
    <div class="well">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/device/dashboard">Connectivity Map</a></li>
            <li><a href="/incidents/index">Incident Management</a></li>
			<li><a href="/sims/sim_status">Sim Status</a></li>
			<li><a href="/customers/index">Customers Data</a></li>
            <li><a href="/assets/index">Assets Data</a></li>
			<li class="active"><a href="/Devices/index">Devices Data</a></li>   
            <li><a href="/sims/sim_data">Sims Data</a></li>
			<li><a href="/sims/on_demand_sim_signal_strength">On demand Sim Signal Strength</a></li>
            <li><a href="/sims/on_demand_sim_connection_speed_test">Sim Connection Speed Test</a></li>
            <li><a href="/sims/on_demand_signal_quality_test">Signal Quality Test</a></li>
            <li><a href="/sims/on_demand_network_performance_and_bandwidth">Network performance and bandwidth usage</a></li>
            <li><a href="/users/index">Reports</a></li>
        </ul>
    </div><!-- well -->
</div><!-- col-md-2 -->
<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">

                <div class="col-xs-12">
			<h3><?php echo __('Device details'); ?></h3>
                    <table id ="data-table" class="table">
           <tr>
		
			<th>Pin</th>
			<th>Serial Number</th>
			<th>Registered</th>
			<th>Imei</th>
			<th>Ip Address</th>
			<th>Name</th>
			<th>Created</th>
			<th>Modified</th>
			<th>Asset</th>
		</tr>
		<tr>
			<td><?php echo h($device['Device']['pin']); ?></td>
			<td><?php echo h($device['Device']['serial_number']); ?></td>
			<td><?php echo h($device['Device']['registered']); ?></td>
			<td><?php echo h($device['Device']['imei']); ?></td>
			<td><?php echo h($device['Device']['ip_address']); ?></td>
			<td><?php echo h($device['Device']['name']); ?></td>
			<td><?php echo h($device['Device']['created']); ?></td>
			<td><?php echo h($device['Device']['modified']); ?></td>
			<td><?php echo $this->Html->link($device['Asset']['name'], array('controller' => 'assets', 'action' => 'view', $device['Asset']['id'])); ?>
			</td>
			 <tr>
                    </table>
		

</div>
                </div>
            </div>
        </div>
    </div>	
